<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Manager</title>


  <script src="https://cdn.tailwindcss.com"></script>


  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="bg-zinc-900 min-h-screen p-4 text-white">
  <div class="main w-full">
    <h1 class="text-4xl track-tighter"><%= filename %></h1>
    <p class="tex-3xl mt-2"><%= filedata %></p>
    <a href="/" class="text-1xl text-blue-400  mt-9 rounded-full">Go Back to home</a>
  </div>

  <script src="/javascripts/script.js"></script>
</body>
</html>